@charset "utf-8";
/* CSS Document *//**/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Geneva', serif; /*Шрифт*/
  color: #000;
  font-size: 31px; /*Размер*/
  margin-right: 10%; /* Отступ справа */
  margin-left: 10%; /* Отступ слева */
  line-height: 1.5; /*Абзац между строк*/

}
body {
  
  background-size: cover;
  background-repeat:no-repeat;
  background-position: top;
  width: 1700px;
  margin: auto;
  min-width: 1700 px;
  
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin:inherit;
  margin-left: 1%; /* Отступ слева */
}
.header__title {
  font-size: 48px;
  line-height: 8px;
  color:#666;
  
}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
	vertical-align: middle;
	float: right;
   }
    div {
    background:#ffffff ; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    margin-top: 1%; /* Отступ сверху */
	margin:inherit;
   }
  